<!-- <div class="alert alert-success" *ngIf="auth.authenticated()"></div> -->
<h4>Submit Form to Apply </h4>

 <div>
  <p>
    Name:{{job.name}}
  </p>
</div> 
   <p>
    Description:{{job['description']}}
  </p>
  <p>
    Category:{{job['category']}}
  </p>
  <p>
    Duration:{{job['duration']}}
  </p>
  <p>
    HourlyFee:{{job['hourlyFee']}}
  </p>
  <p>
    PreferredDateTime:{{job['preferredDateTime']}}
  </p>
  <p>
    DurationPerHour:{{job['DurationPerHour']}}
  </p>
<p>
    watting Applicants:{{job['wattingList'].length}}
  </p> 
   <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
  </form> 


