<div class="alert alert-success" *ngIf="auth.authenticated()"></div>
<div class="row">
  <div class="col-md-8">
    <div *ngIf="usersflag">

  <div >

    <img  src="{{profile.picture}}"
    class="img-responsive" alt="Responsive image" class="img-thumbnail">
 <p>Given Name:  {{profile.given_name}} </p>
 <p>Family Name: {{profile.family_name}} </p>
  <p>Email: {{profile.email}} </p>

  </div>   

      </div>
    
    <router-outlet></router-outlet>
    
    
   </div>

  <div class="col-md-4 " >
    
    
 <p> <a [routerLink]="['subscribe']" routerLinkActive="active">
    <button type="button" (click)="subscribe()"class="btn btn-success btn-lg " >Subscribe</button>
    </a> </p>

      <p><a [routerLink]="['unsubscribe']" routerLinkActive="active">
    <button type="button" (click)="unsubscribe()" class="btn btn-primary btn-lg ">Unsubscribe</button>
    </a></p>
    </div>

  
