<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="mapClicked($event)">

  <sebm-google-map-marker
    *ngFor="let loc of mapLocations; let i = index"
    (markerClick)="clickedMarker(loc)"
    [latitude]="loc.lat"
    [longitude]="loc.lng"
    [label]="loc.label">

    <sebm-google-map-info-window>
      <strong>InfoWindow content</strong>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>
<h1> Nearst Jobs in town</h1>
  <div *ngFor = 'let j of jobs'>
    {{job}}
       <!--<a [routerLink]  = "['near']"  >{{j.name}}</a>-->
  </div>